
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    background: #f2f4f7;
    padding-bottom: 80px;
    color: #222;
}


header {
    background: #0d152c;
    padding: 20px 40px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    font-size: 30px;
    font-weight: 700;
}
nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #d7e9ff;
    font-weight: 500;
    transition: 0.3s;
}
nav a:hover {
    color: #00aaff;
}


.products {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 25px;
    padding: 20px;
}
.product {
    background: #fff;
    border-radius: 16px;
    padding: 18px;
    transition: 0.25s ease;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.08);
    text-align: center;
}
.product:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 25px rgba(0,0,0,0.15);
}
.product img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
}
.product h3 {
    font-size: 18px;
    margin: 12px 0 6px;
}
.product p {
    font-size: 17px;
    color: #333;
    margin-bottom: 10px;
}
.product a {
    background: #00aaff;
    padding: 10px 15px;
    border-radius: 10px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
.product a:hover {
    background: #007acc;
}

.product-page {
    padding: 20px;
    display: flex;
    gap: 40px;
}
.product-page img {
    width: 380px;
    border-radius: 14px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.15);
}
.product-info h2 {
    font-size: 32px;
}
.product-info p {
    margin-top: 15px;
    font-size: 18px;
    line-height: 1.6;
}
.add-btn {
    margin-top: 25px;
    padding: 12px 22px;
    background: #00aaff;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
    font-weight:600;
}

.admin-box {
    width: 450px;
    margin: 80px auto;
    background: #fff;
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}
.admin-table {
    width: 90%;
    margin: 40px auto;
    border-collapse: collapse;
}
.admin-table th,
.admin-table td {
    padding: 14px;
    border-bottom: 1px solid #ddd;
}
.admin-table th {
    background: #eef3ff;
}
.btn {
    padding: 10px 15px;
    background: #0d6efd;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
}
.btn-red {
    background: #dc3545;
}
.btn-green {
    background: #198754;
}
footer {
    margin-top: 40px;
    background: #0d152c;
    color: #ccc;
    text-align: center;
    padding: 25px;
}
.admin-btn {
    padding: 8px 14px;
    background: #1e88e5;
    color: white;
    font-weight: 500;
    text-decoration: none;
    border-radius: 6px;
    margin-left: 20px;
    transition: 0.3s;
}

.admin-btn:hover {
    background: #0d47a1;
    transform: scale(1.05);
}
